
input{
	border: 1px solid;
	border-radius: 3px;
}

.colorGreen{
	background-color: green;
	color: white;
	border: 1px solid transparent;
    padding: 5px 5px;
	border-radius: 3px;
	cursor:pointer;
}

.colorRed{
	background-color: red;
	color: white;
	border: 1px solid transparent;
    padding: 5px 5px;
	border-radius: 3px;
	cursor:pointer;
}

.colorSkyblue{
	background-color: skyblue;
	color: white;
	border: 1px solid transparent;
    padding: 5px 5px;
	border-radius: 3px;
	cursor:pointer;
}

.colorOrange{
	background-color: orange;
	color: white;
	border: 1px solid transparent;
    padding: 5px 5px;
	border-radius: 3px;
	cursor:pointer;
}

.colorBrown{
	background-color: brown;
	color: white;
	border: 1px solid transparent;
    padding: 5px 5px;
	border-radius: 3px;
	cursor:pointer;
}